* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: url(https://tempodao.gg/bg.jpg) top no-repeat #000 !important;
  background-size: cover !important;
  
  .MuiInputBase-root {
		color: #ffd700;
		cursor: text;
		display: inline-flex;
		padding: 0px 10px;
		position: relative;
		box-sizing: border-box;
		align-items: center;
		font-family: Square;
		font-weight: 500;
		line-height: 20px;
		font-size: 21px;
		height: auto;
		min-height: 0px;
		max-height: fit-content;
		border-radius: 0px !important;
		border: 3px solid gold !important;
	}
	.MuiInputAdornment-root{
		color:white;
	}
	.MuiOutlinedInput-input {
		padding: 12px;
	}
	.MuiOutlinedInput-notchedOutline{
		border:0px solid transparent !important;
	}
	.MuiButton-contained.Mui-disabled{
		color:#ffffff42;
	}
	.hero-metrics h6 {
		text-transform: uppercase;
		opacity: 0.5;
	}
	#treasury-dashboard-view .hero-metrics .ohm-card div.metric{
		margin: 3% 1% 3% 1%;
	}
	.chart-card-header .card-title-text{
		opacity: 0.5;
	}
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Square";
  overflow: hidden;
  transition: all ease 0.33ms;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

.ohm-card {
  max-width: 833px;
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
    h5 {
      font-weight: 600 !important;
    }
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
	flex-direction: row;
    margin: 12px 0px;
    border-bottom: 1px solid #ffffff2b;
    padding-bottom: 15px;    
	padding-top: 5px;
	
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
} 
.staking-area > .help-text {
    border: 1px solid gold;
    padding: 20px;
    margin-top: 30px !important;
    color: gold;
		p {
		line-height: 20px;
	}
}
.ohm-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}
